/*
 * Empty Stylesheet file.
 */
.mainFxmlClass {
    -fx-background-color: #333333;
}

.titleLabel {
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.buttonStyle {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, #000000, 10, 0, 0, 0);
}
